.content
  .row
    .span8.title
      Mapper : 
      %span
        %select#mapName
          %option
            Sachin Test 100
          %option
            Sachin ODI 100
  .row
    .span4.caption
      Built with
      %a{href: "http://apify.heroku.com/resources/4feb50401c4d4f000100001f", target: '_blank'}
        APIfy.
  .row
    &nbsp;
  .row
    .span8
      #map{style: "position: relative; background-color: rgb(229, 227, 223); overflow: hidden;"}
        &nbsp;